.color-333 {
  color: #333 !important;
}

.color-666 {
  color: #666 !important;
}

.color-999 {
  color: #999 !important;
}

.color-fff {
  color: #fff !important;
}

.bg-color-fff {
  background-color: #fff !important;
}

.no-bg-color {
  background-color: transparent !important;
}