/* screen */
$screen-xs-max: 576px - 1px;
$screen-sm-max: 768px - 1px;
$screen-md-max: 992px - 1px;
$screen-lg-max: 1200px - 1px;
$screen-xl-max: 1600px - 1px;
$mobile-min: 768px;
$mobile-max: 768px - 1px;

/* scrollbar */
$scrollbar-enabled:                 true;
$scrollbar-width:                   6px;
$scrollbar-height:                  6px;
$scrollbar-track-color:             #f1f1f1;
$scrollbar-thumb-color:             #c0c0c0;
$scrollbar-thumb-active-color:      #8f8f8f;
$scrollbar-border-radius:           10px;

// font-size
$font-size-list: 12 14 16 18 20 22 24 26 28;